@import url("../../styles/variables.module.css");

.CreateAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 155px);
}
.CreateAccountBox {
  width: 80%;
  height: 80%;
  background-color: var(--background-box-color);
  padding: 20px;
  border-radius: 12px;
  display: flex;
}
.DivFirstHalf {
    display: flex;
    justify-content: center;
    width: 50%;
}
.CreateAccountBox .AllTextDiv {
    width: 80%;  
    padding: 20px;
    height: 100%;
}
.CreateAccountBox .AllTextDiv h2 {
    font-size: 3.5vw;
}
.CreateAccountBox .svgDiv img {  
    width: 80%;
    height: 80%;
}
.CreateAccountBox .svgDiv {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formCreate {
    height: 100%;
    width: 100%;
}
.inputsAndLabels{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    gap: 5px;
}
.inputsAndLabels input {
    display: block;
    width: 80%;
    background-color: var(--background);
    color: var(--text-color);
    border-radius: 5px;
    padding: 7px;
}
.inputsAndLabels label {
    font-size: 1.5em;
}
.inputsAndLabels button {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    color: white;
    padding: 7px;
    margin: 10px 0;
    border-radius: 7px;
    background-color: var(--primary-color);
}
.formCreate span a {
    color: lightskyblue;
    text-decoration: underline;
}
.formCreate span {
    text-align: center;
}

@media (width < 840px){
    .CreateAccountBox{
        flex-direction: column-reverse;
    }
    .DivFirstHalf {
        width: 100%;
    }
    .CreateAccountBox .AllTextDiv {
        width: 100%;
    }
    .CreateAccountBox .svgDiv {
        width: 100%;
    }
    .inputsAndLabels input {
        width: 100%;
    }
}