* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

input, button{
    outline: none;
    border: none;
    background-color: transparent;
}
body{
    background: url("img/bg.jpg") center no-repeat;
    background-size: cover;
}
body, main{
    width: 100vw;
    min-height: 100vh;
}

main {
    margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .caixa-princ {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    gap: 15px;
    width: 70vw;
    height: max-content;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.199);
    transition-property: height 0.5s ease;

}

main .caixa-princ .barra-pesquisa {
    width: 70%;
    background-color: rgb(207, 212, 218);
    display: flex;
    padding: 3px 10px;
    border-radius: 15px;
}

main .caixa-princ .barra-pesquisa #pesquisa {
    width: 100%;
}
main .caixa-princ .barra-pesquisa button {
    transition: 0.5s ease;
    padding: 5px;
    border-radius: 100%;
}
main .caixa-princ .barra-pesquisa button:hover {
    background-color: rgb(172, 179, 189);
}

main .caixa-princ .resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .caixa-princ .resultado #imagem-result {
    width: 50%;
}
.escondido{
    display: none;
    opacity: 0;
}
.visivel{
    display: flex;
    opacity: 1;
}
#info{
    transition: all 0.5s ease;
    max-width: 70vw;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
}

.caixa{
    background-color: aliceblue;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}
.caixa:hover{
    cursor: pointer;
}
.caixa:hover::before{
    content: attr(data-oquee);
    position: absolute;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(40px) translateX(15%);
}
#ceu::first-letter{
    text-transform: uppercase;
}
