*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    transition: all 1s;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(15, 37, 231, 0.788);
    z-index: 1000;
}
nav ul{
    font-size: 18px;
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    text-decoration: overline white;
}