@import url(../../styles/variables.module.css);

.Category {
  padding-block: 20px;
  width: 100%;
}
.Category h1 {
  font-size: 26px;
  margin: 5px;
  text-align: center;
}
.Category h2 {
  font-size: 14px;
  text-align: left;
}
.Category div {
  margin-top: 10px;
  gap: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
