@import url(../../styles/variables.module.css);

.header {
  z-index: 997;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 20px var(--padding);   
  background-color: var(--background);        
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);                                                                 
}

.header span {
  font-weight: 600;
  font-size: 1.4em;
  background-image: radial-gradient(
    var(--primary-color),
    var(--secundary-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header nav a {
  margin-left: 15px;
  font-size: 1em;
  color: var(--text-color);
}
.MenuAndLogo div {
  margin-left: 10px;
}
.header div,
button {
  gap: 5px;
  display: flex;
  align-items: center;
}
.header svg {
  width: 35px;
  height: 35px;
  transition: all 0.5s ease-out;
  padding: 5px;
  border-radius: 100%;
  color: var(--text-color);
}
.header svg:hover {
  cursor: pointer;
  background-color: var(--hover-selected);
}

a {
  position: relative;
  padding: 5px;
}

.SearchArea {
  border: 0.5px solid var(--primary-color);
  border-radius: 20px;
}
.SearchArea a {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SearchArea svg {
  color: var(--primary-color);
}
.SearchArea input {
  padding: 5px;
  margin-left: 11px;
}
.linksNav {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (width < 640px) {
  .header {
    flex-direction: column;
    gap: 5px;
  }
}