@import url("../../styles/variables.module.css");

.date,
.name {
  font-family: var(--font-serif);
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.name {
  font-size: 1.2vw;
  bottom: 40px;
}
.date {
  top: 40px;
  font-size: 1.2vw;
  white-space: nowrap;
}
.TimelinePoint {
  position: relative;
  background-color: var(--dark-red);
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.TimelinePoint::after {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--light-red);
  position: absolute;
  transform: translateX(50%);
  top: 25%;
}
.link {
  padding: 0;
  margin: 0;
  width: 0;
}

@media (width < 840px) {
  .name,
  .date {
    font-size: 1.5vw;
  }
  .TimelinePoint {
    width: 15px;
    height: 15px;
  }
  .TimelinePoint::after {
    width: 7.25px;
    height: 7.25px;
  }
  .date {
    top: 20px;
    text-wrap: wrap;
  }
  .name {
    bottom: 20px;
  }
}
