.Timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 15px;
  border-radius: 10px;
  background-color: var(--light-red);
  position: relative;
}

.Timeline ol {
  width: calc(100% - 15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (width < 840px) {
  .Timeline {
    width: 90vw;
    transform: scale(2) translateX(27vw);
    height: 5px;
  }
  .Timeline ol {
    width: calc(100% - 7px);
  }
  ::-webkit-scrollbar {
    height: 10px;
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
