* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  transition: all 0.4s ease-out;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 12px;
  }
body {
  background-color: rgb(19, 20, 20);
}
p {
  margin-top: 10px;
  color: white;
  font-family: "Josefin Sans";
  font-size: 1.6vw;
}
h2 {
  font-size: 1.9vw;
  letter-spacing: 1px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.342);
}
a,
h1,
h2 {
  font-family: "Bebas Neue";
}
a {
  font-size: 1.3em;
  position: relative;
  text-decoration: none;
}

main {
  margin: 20px;
}
h1 {
  font-size: 4em;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header {
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-around;
}
a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  bottom: 0;
  background-color: blueviolet;
  transition: all 0.5s ease;
}
a:hover::before {
  width: 100%;
  visibility: visible;
  transform: scaleX(1);
}
.foto {
  width: calc(23vw - 5px);
  border-radius: 12px;
  justify-content: space-between;
}
.fotos,
.caixas,
.blocos {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bloco {
  height: 28%;
  text-align: justify;
  padding: 20px;
  width: calc(70vw - 24px);
  color: white;
  background: linear-gradient(0.25turn, rgb(124, 160, 226),rgb(152, 94, 206));
  border-radius: 20px;
}
.blocos{
  flex-direction: row;
  gap: 0;
}
