.svgPergunta {
  max-width: 50vw;
  max-height: 80vh;
}
.Main {
  display: flex;
  align-items: center;
}
.Main div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.texts{
    display: flex;
    flex-direction: column;
}
.texts p{
    font-weight: 700;
    text-align: justify;
    font-size: 2.4em;
    max-width: 70%;
}

@media (width < 640px) {
    .Main {
        flex-direction: column;
    }
    
}
