@import url(../../styles/variables.module.css);

.SectionFamily {
  width: 100%;
  min-height: calc(100vh - 98px);
  padding: 20px;
}

.SectionFamily h2 {
  font-size: 40px;
}
.cards{
  display: flex;
  padding: 10px;
  gap: 10px;
}
