@import url(../../styles/variables.module.css);

.Container{
    width: 100%;
    min-height: calc(100vh - 138px);
    padding-block: 20px;
    color: var(--text-color);
    background-color: var(--background);
    overflow-x: hidden;
}
