* {
    border: solid 1px black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    min-height: calc(100vh - 20px);
    border: none;
}
.menu p {
    border: none;
}
header {
    width: calc(100% - 20px);
    margin: 10px;
    text-align: center;
    padding-block: 20px;
}
main {
    gap: 10px;
    display: flex;
    padding: 10px;
    margin:10px;
    min-height: calc(100vh - 120px);
}
main .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
main .box-lateral {
    flex: 2;
}
.box-lateral {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-lateral h1{
    text-align: center;
    padding-block: 20px;
}
.box-lateral .box-interna {
    gap: 10px;
    display: flex;
    height: 100%;
}
.box-lateral .box-interna img {
    flex: 1;
    text-align: center;
}
.box-lateral .box-interna p {
    flex: 1;
    text-align: center;
}