@import url(../../styles/variables.module.css);
.SectionWar {
  position: relative;
}
.contentSection {
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.titleAndDescription {
  width: 55%;
  height: 55%;
}
.titleAndDescription h2 {
  font-family: var(--font-serif);
  font-size: 2.4vw;
  max-width: 90%;
  padding-bottom: 10px;
}
.titleAndDescription p {
  font-size: 1vw;
  max-width: 90%;
  text-align: justify;
}
.lista li {
  list-style: initial;
}
.SectionWar .imgDiv {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
.battles {
  max-width: 32%;
}
.battles h2 {
  font-size: 1.6vw;
  padding-bottom: 10px;
}
.battles ul li {
  font-size: 1.1vw;
  padding-block: 5px;
  font-weight: 200;
}
.extraDiv {
  max-width: 50%;
}
.extras {
  position: relative;
}
.extras svg {
  color: var(--font-color);
  width: 6vw;
  height: 6vw;
}
.extras:after {
  content: "+";
  position: absolute;
  bottom: -40%;
  left: -5%;
  color: var(--primary-color);
  font-size: 6vw;
}
.extraDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SectionWar::after {
  content: " ";
  position: absolute;
  left: 55%;
  top: 0;
  height: 100%;
  width: 30%;
  background: linear-gradient(to right, var(--background), transparent);
}
.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

/* ======================================= POPUP ======================================== */