@import url(../../styles/variables.module.css);

.Container{
    width: 100%;
    min-height: calc(100vh - 143px);
    color: var(--text-color);
    background-color: var(--background);
    overflow: hidden;
}
.Container:has(big){
    background-color: transparent;
}
