*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(23, 23, 26);
}

.div-lado-a-lado, .div-embaixo {
    width: 45%;
    height: 100px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    background-color: blueviolet;
    color: white;
}
.div1, .div3 {
    background-color: blue;
}
.div-embaixo {
    display: block;
}
.line {
    margin-block: 20px;
    width: 100%;
    border-bottom: 2px dashed whitesmoke;
}
.divs {
    margin: auto;
}