:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
body {
  overflow: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
button {
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
}
ul, li, ol {
  list-style-type: none;
}