@import url(./styles/variables.module.css);
:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
body {
  overflow-x: hidden;
}
a{
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}
button {
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}
ul, li, ol {
  list-style-type: none;
}
svg {
  color: var(--prymary-color);
}
