:root {
  --padding: 15px;
  --font: "Poppins", sans-serif;
  --font-serif: "Noto Serif", serif;
  /* ================================ Colors */
  
  --text-color: rgb(161, 31, 31);
  --background: #f7efef;
  --primary-color: #cd5050;
  --secundary-color: #e8eea5;
  --background-box-color: #e1e9ef;
  --background-dark1: #e1e5ec;
  --hover-selected: #efc8c8;
  --gray: rgb(34, 34, 36);
}
